{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Identification{% endblock %}

{% block body %}
    {% include 'sections/heading.html.twig' with {'title': 'Connexion'} %}

    {% if error %}
        <p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
    {% endif %}

    <section class="content gradient">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="content-block p-4" id="main-content">
                        {{ form(form, {'attr': {'action': path('app_login') }} ) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
