@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "@eonasdan/tempus-dominus/dist/css/tempus-dominus.css";

@import "config/variables";

@import "~bootstrap";

@import "sections/heading";

@import "partials/navbar";
@import "partials/spacer";
@import "partials/footer";

@import "ui/form";

@import "components/datepicker";

html {
    font-size: $basePixel;

    @media (max-width: 1199px) {
        font-size: $basePixelLg;
    }

    @media (max-width: 991px) {
        font-size: $basePixelSm;
    }

    @media (max-width: 767px) {
        font-size: $basePixelXs;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background: $white;

        section {
            .separator-container {
                margin-top: 40px;
                margin-bottom: 40px;
                padding: 0 50px;

                .separator {
                    height: 1px;
                    background: #d8e3f2;
                }

                &.list-mode {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    padding: 0 50px;
                }
            }

            .section-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-right: 35px;
                padding-top: 40px;

                &.list-mode {
                    padding-right: 0;
                    padding-top: 0;

                    h3 {
                        text-align: center;
                        font-size: 2.4rem;
                        width: 100%;
                        font-weight: 700;
                        margin-top: 20px;
                        
                        @media (max-width: 1200px) {
                            font-size: 1.8rem;
                        }
                    }

                    .selected-date {
                        width: 100%;
                        border-top-right-radius: $baseRadius;
                        border-top-left-radius: $baseRadius;
                        border-bottom-right-radius: 0;
                        text-align: center;
                    }

                    .legal-status {
                        background: #bbcde9;
                        padding: 3px 12px;
                        border-radius: 4px;
                        margin: 0 auto;
                        color: #427bcd;
                        border: 1px solid #7fa2d5;
                    }
                }

                .selected-date {
                    height: 50px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding-left: 50px;
                    padding-right: 25px;
                    border-top-right-radius: $baseRadius;
                    border-bottom-right-radius: $baseRadius;
                    color: #fff;
                    font-size: 1.8rem;
                    font-weight: 700;
                    letter-spacing: -0.5px;
                    background: $pink;
                }
            }
        }

        .content {
            .content-with-bg {
                border-top-left-radius: $baseRadius;
                border-top-right-radius: $baseRadius;
                background: $white;
            }

            position: relative;
            margin-top: -40px;

            .content-block {
                border-radius: $baseRadius;
                background: $white;
                box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

                &.search-company {
                    h2 {
                        margin-bottom: 3rem;
                        font-size: 2.8rem;
                        color: $blue;
                    }

                    button {
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        background-color: $orange;
                        border-color: $orange;
                        font-size: 1.8rem;
                        padding: 0 30px;

                        &:focus {
                            box-shadow: none;
                        }
                    }

                    input[type="text"] {
                        border: 1px solid $lightBlue;
                        background: #f8fafd;
                        color: $lightBlue;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        font-size: 1.4rem;
                        padding: 12px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                &#date {
                    padding: 20px;
                }

                .content-block-main {
                    padding: 0 50px 25px;

                    h2 {
                        position: relative;
                        color: #272e80;
                        font-size: 2.4rem;
                        margin-bottom: 40px;
                        width: fit-content;

                        &:after {
                            content: "";
                            position: absolute;
                            height: 3px;
                            background-color: $blue;
                            left: 0;
                            right: 0;
                            bottom: -5px;
                        }
                    }

                    .info {
                        display: block;
                        font-size: 2.1rem;
                        margin-bottom: 0.5rem;

                        svg {
                            color: $orange;
                            width: 35px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        .list {
            margin: 3rem 0;
            padding: 3rem 0;

            &.bg-light-blue {
                background: $light;
            }

            h2 {
                font-size: 3.2rem;
                color: $blue;
                margin-bottom: 4rem;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    height: 4px;
                    left: 0;
                    width: 50px;
                    background: $orange;
                    bottom: -7px;
                }
            }

            .company {
                display: block;
                border-radius: $baseRadius;
                box-shadow: 1px 5px 8px rgb(212, 212, 212, 0.5);
                text-decoration: none;
                position: relative;
                font-size: 1.4rem;
                background: $white;

                h3 {

                }

                .info {
                    display: flex;
                    justify-content: center;

                    svg {
                        color: $orange;
                        margin-right: 5px;
                        margin-top: 2px;
                    }
                }

                .more-informations {
                    padding: 0 20px 15px 0;
                }
            }
        }
    }
}